<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/prueba2/addperson}" th:object="${person}" method="post">
<p>Nombre: <input type="text" th:field="*{name}"/></p>
<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name has error</p>
<p>Edad:   <input type="number" th:field="*{age}"/></p>
<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name has error</p>
<p>        <input type="submit" value="Enviar"/></p>
</form>

<h1>Nombre <span th:text="${person.name}"></span> - <span th:text="${person.age}"></span></h1>
</body>
</html>